@font-face {
  font-family: "io"; /* Project id 2989143 */
  src: url('font_2989143_ca87qcn1l4a.woff2') format('woff2'),
       url('font_2989143_ca87qcn1l4a.woff') format('woff'),
       url('font_2989143_ca87qcn1l4a.ttf') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-zhinanzhen:before {
  content: "\e644";
}

.io-qunfengweinituijian:before {
  content: "\e75d";
}

.io-rementuijian1:before {
  content: "\e684";
}

.io-kafei:before {
  content: "\e6aa";
}

.io-ziyuan:before {
  content: "\e628";
}

.io-ziyuan1:before {
  content: "\e88e";
}

.io-meitibaodao:before {
  content: "\e69e";
}

.io-yunyingguanli:before {
  content: "\e605";
}

.io-codelibrary-fill:before {
  content: "\e84b";
}

.io-CodeSandbox:before {
  content: "\e87e";
}

.io-codepen:before {
  content: "\e87f";
}

.io-codepen-circle-fill:before {
  content: "\e884";
}

.io-bangong-jigou:before {
  content: "\e608";
}

.io-yunying:before {
  content: "\e609";
}

.io-VIsheji:before {
  content: "\e6cc";
}

.io-duomeiti:before {
  content: "\e60e";
}

.io-jiemianfangan:before {
  content: "\e62b";
}

.io-yunyingfenxi:before {
  content: "\e620";
}

.io-search:before {
  content: "\e61f";
}

.io-Search:before {
  content: "\e67c";
}

.io-xieboke:before {
  content: "\e624";
}

.io-huojianjiasu:before {
  content: "\e6d4";
}

.io-xiangmu:before {
  content: "\e613";
}

.io-mubiao:before {
  content: "\e614";
}

.io-mubiao1:before {
  content: "\e603";
}

.io-ziliaoku:before {
  content: "\e600";
}

.io-jiaocheng-2:before {
  content: "\e7ab";
}

.io-tuijianmoban:before {
  content: "\e622";
}

.io-tuijian1:before {
  content: "\e680";
}

.io-gongjuxiang:before {
  content: "\e62e";
}

.io-yingyongchengxu:before {
  content: "\e607";
}

.io-dizhi_:before {
  content: "\e61e";
}

.io-renshengjieduan:before {
  content: "\e60f";
}

.io-xihuan:before {
  content: "\e6af";
}

.io-xihuan1:before {
  content: "\e61c";
}

.io-xiaochengxu:before {
  content: "\e63e";
}

.io-rementuijian:before {
  content: "\e73d";
}

.io-briefcase-full:before {
  content: "\e8b7";
}

.io-fuli:before {
  content: "\e618";
}

.io-shezhi:before {
  content: "\e8b8";
}

.io-shezhixitongshezhigongnengshezhishuxing:before {
  content: "\e795";
}

.io-fenxi:before {
  content: "\e606";
}

.io-bangong:before {
  content: "\e7ec";
}

.io-comment:before {
  content: "\e602";
}

.io-shipin:before {
  content: "\e619";
}

.io-fenxi5:before {
  content: "\e61a";
}

.io-comment-filling:before {
  content: "\e689";
}

.io-searchfill:before {
  content: "\e742";
}

.io-add:before {
  content: "\e661";
}

.io-dicengjiagou:before {
  content: "\e98c";
}

